<configuration>
  <system.webServer>

    <!-- indicates that the server.js is a node.js application
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- redirect all incoming requests to server.js application -->

    <rewrite>
         <rules>
              <rule name="iisnode">
                   <action type="Rewrite" url="server.js"/>
              </rule>
         </rules>
    </rewrite>    

    <!-- disable the IIS WebSocket module to allow Node.js to provide its own 
    WebSocket implementation based on socket.io -->

    <webSocket enabled="false" />
    
  </system.webServer>
</configuration>
